<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoIP</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" href="../images/geo.jpeg" type="image/x-icon">
</head>
<body>
    <div class="hero-bg">
        <section class="top">
            <header>
                <a href="#">geoip.com</a>
            </header>

            <h1>Geo IP</h1>

            <p>Find out IP location</p>

            <div class="form-containter">
                <form action="">
                    <div class="center">
                        <label for="IP">Enter PUBLIC IP address</label>
                        <input type="text" name="IP" id="IP">
                        <input type="submit" formaction="geoip.html" value="Enter">
                        <input type="submit" value="Find out your GeoIP">
                    </div>
                </form>
            </div>
        </section>

    </div>
</body>
</html>